.swiper-navigation .swiper-button-prev {
    left: 16px !important;
    @apply w-12 h-12 bg-white rounded-md flex items-center justify-center #{!important};
    
}

.swiper-navigation .swiper-button-next {
    right: 16px !important;
    @apply w-12 h-12 bg-white rounded-md flex items-center justify-center #{!important};
}

.swiper-navigation .swiper-button-prev:after {
    content: "" !important;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 27.6 27.6' style='enable-background:new 0 0 27.6 27.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%232D333A;%7D%0A%3C/style%3E%3Cpath class='st0' d='M-32.6,0.6l-3.2,3.1l7.4,7.4h-19.2v5.2h19.2l-7.4,7.4l3.2,3.2L-20,13.8L-32.6,0.6z'/%3E%3Cpath class='st0' d='M12.6,26.9l3.2-3.1l-7.4-7.4h19.2v-5.2H8.4l7.4-7.4l-3.2-3.2L0,13.8L12.6,26.9z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    position: relative;
    width: 18px;
    height: 18px;
}

.swiper-navigation .swiper-button-next:after {
    content: "" !important;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 27.6 27.6' style='enable-background:new 0 0 27.6 27.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%232D333A;%7D%0A%3C/style%3E%3Cpath class='st0' d='M15,0.6l-3.2,3.1l7.4,7.4H0v5.2h19.2l-7.4,7.4l3.2,3.2l12.6-13.2L15,0.6z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    position: relative;
    width: 18px;
    height: 18px;
}